DirectoryIndex index.php

# Не отдавать листинг папки
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /zakapeiku/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
